/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


&mt {
   flavor = "tap-preferred";
   tapping_term_ms = <300>;
};

/ { 

    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
        
         combo_tab {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
        };
        

        
    };

        keymap {
                compatible = "zmk,keymap";
                
       		default_layer {
		bindings = <
		&kp Q       &kp W       &kp F       &kp P       &kp B 	    &kp J   &kp L       &kp U       &kp Y       &kp SEMI 
		&mt LCTL A  &mt LALT R  &mt LGUI S  &mt LSFT T  &kp G 	    &kp M   &mt LSFT N  &mt LGUI E  &mt LALT I  &mt LCTL O
		&mt LSFT Z  &kp X       &kp C       &kp D       &kp V		&kp K   &kp H       &kp CMMA    &kp DOT     &mt LSFT FSLH
          				                    &kp TAB   &lt 1 SPC     &lt 2 RET &kp BKSP 
		>;
		};

       		left_layer {
		bindings = <
		&kp N7    &kp N8    &kp N9    &kp N0      &kp PLUS		        &kp LS(LG(N4))  &trans      &trans     &trans    &trans 
		&kp N4    &kp N5    &kp N6    &kp MINUS   &kp EQUAL	            &kp LEFT        &kp DOWN    &kp UP     &kp RIGHT &kp SQT 
		&kp N1    &kp N2 	&kp N3    &kp DOT     &kp GRAVE 	        &kp HOME        &kp PG_DN   &kp PG_UP  &kp END   &kp DQT 
					                  &kp LGUI    &mo 1         		&mo 3           &kp DEL    
		>;
		};
		
		right_layer {
		bindings = <
		&kp AMPS  &kp KMLT      &kp BSLH    &kp LPRN    &kp RPRN    	&trans      &trans    &trans     &trans     &trans 
		&kp DLLR  &kp PRCT      &kp CRRT    &kp LBKT    &kp RBKT 		&kp MINUS   &trans    &kp LBRC   &kp RBRC   &kp BKSP
		&kp BANG  &kp ATSN      &kp HASH    &kp LBRC    &kp RBRC    	&kp UNDER   &trans    &trans     &trans     &trans
					                        &kp LGUI    &mo 3  		    &mo 3       &kp RGUI 
		>;
		};	
		
		tri_layer {
		bindings = <
		&kp F1      &kp F2      &kp F3      &kp F4      &kp F5 		    &trans   &trans     &trans        &trans      &trans
		&kp F6      &kp F7      &kp F8      &kp F9      &kp F10  		&trans   &kp PG_UP  &kp K_VOL_UP  &kp K_MUTE  &trans 
		&bt BT_CLR  &bt BT_NXT  &bt BT_PRV  &kp F11     &kp F12   		&trans   &kp PG_DN  &kp K_VOL_DN  &trans      &trans   
					                        &trans      &trans  		&trans   &trans 
		>;
		};	
        
	};
};
